img {
	width: 30%;
	margin: 1.66%;
	float: left;
}

p {
	border-bottom: 2px solid #f1f1f1;
	font-family: Raleway;
	font-size: 24px;
	font-weight: 800;
	margin-left: 1.66%;
	padding-bottom: 20px;
	text-transform: uppercase;
	width: 30%;
}